
@{
    ViewData["Title"] = "Developers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.grid-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  background-color: whitesmoke;
  padding: 10px;
}

.grid-item {
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>


<h1>Developers</h1>



<div class="grid-container">
  <div class="grid-item"><a>Levi Hardy</a><br /><a>GenSpark Developer</a></div>
  <div class="grid-item"><a>Rahsan Picket</a><br /><a>GenSpark Developer</a></div>
  <div class="grid-item"><a>Bethsua Martinez</a><br /><a>GenSpark Developer</a></div>  
  <div class="grid-item"><a>Devante McFadden</a><br /><a>GenSpark Developer</a></div>
  <div class="grid-item"><a>Nicole Meeks</a><br /><a>GenSpark Developer</a></div>
  <div class="grid-item"><a>Matt Sherrod</a><br /><a>GenSpark Developer</a></div>  

</div>

